@import url('https://fonts.googleapis.com/css2? family= Noto+Sans:wght@300;400 & family= Oswald:wght@300;400 & display=swap');


body {
	font-family: 'Noto Sans JP', sans-serif;
	padding: 0 2%;
	margin: 0;
}
a{
	color: black;
	text-decoration: none;
}
a:hover{
	color: rgb(17, 0, 255);
	cursor: pointer;
}

nav {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	background-color: white;
	position: sticky;
	top: 0;
}
nav .profile {
	display: flex;
	align-items: center;
}
nav .profile img {
	width: 100px;
	height: 100px;
	border-radius: 50%;
}
nav .profile h1 {
	margin-left: 10px;
	font-size: 20px;
}
nav ul {
	display: flex;
	list-style-type: none;
}
nav ul li {
	margin-left: 20px;
	cursor: pointer;
	border-bottom: 1px solid #fff;
}
nav ul li:hover {
	border-bottom-color: #000;
}

.page-content {
	margin: 4%;
}
.page-content header {
	margin-top: 5%;
	max-width: 80%;
}
.page-content header h1 {
	margin: 0;
	text-transform: uppercase;
	font-family: 'Oswald', sans-serif;
	font-size: 3vw;
	color: darkcyan;
}
.page-content header p {
	line-height: 30px;
	color: darkcyan;
}
.page-content header button {
	background-color: inherit;
	border: none;
	outline: none;
	padding: 0;
	font-size: 15px;
	font-weight: bold;
	padding-bottom: 5px;
	border-bottom: 1px solid #ccc;
	cursor: pointer;
}
.page-content header button:hover {
	color: #ccc;
	border-bottom-color: #000;
}
.page-content .presentation-image {
	margin-top: 5%;
}
.page-content .presentation-image img {
	max-width: 100%;
	height: auto;
}
.up {
	animation: fadein 2s;
}

.up--15 {
	animation-delay: 800ms;
	animation-fill-mode: forwards;
	opacity:0;
}
.up--1 {
	animation-delay: 50ms;
	animation-fill-mode: forwards;
	opacity:0;
}
.up--2 {
	animation-delay: 150ms;
	animation-fill-mode: forwards;
	opacity:0;
}
.up--3 {
	animation-delay: 300ms;
	animation-fill-mode: forwards;
	opacity:0;
}
.up--4 {
	animation-delay: 450ms;
	animation-fill-mode: forwards;
	opacity:0;
}
.up--5 {
	animation-delay: 600ms;
	animation-fill-mode: forwards;
	opacity:0;
}
.up--6 {
	animation-delay: 750ms;
	animation-fill-mode: forwards;
	opacity:0;
}
.up--7 {
	animation-delay: 900ms;
	animation-fill-mode: forwards;
	opacity:0;
}
.up--8 {
	animation-delay: 1050ms;
	animation-fill-mode: forwards;
	opacity:0;
}
.up--9 {
	animation-delay: 1200ms;
	animation-fill-mode: forwards;
	opacity:0;
}
.up--10 {
	animation-delay: 1350ms;
	animation-fill-mode: forwards;
	opacity:0;
}
@keyframes fadein {
    from {
		transform: translateY(200px);
        opacity:0;
    }
    to {
		transform: translateY(0);
        opacity:1;
    }
}

.page-content .projects-section{
	margin-top: 6%;
}
.page-content .projects-section h1{
	font-family: 'Oswald', sans-serif;
	text-transform: uppercase;
	font-size: 3vw;
	color: crimson;
}
.page-content .projects-section .projects {
	display: flex;
	flex-wrap: wrap;
}
.page-content .projects-section .project{
	margin-right: 20px;
	max-width: 200px
}
.page-content .projects-section .project h4{
	margin: 0;
	color: darkcyan;
}
.page-content .projects-section .project .description{
	font-size: 12px;
}
.page-content .projects-section .project .dates{
	font-size: 13px;
	color: rgb(145, 145, 145);
}
.page-content .projects-section1{
	margin-top: 6%;
}
.page-content .projects-section1 h1{
	font-family: 'Oswald', sans-serif;
	text-transform: uppercase;
	font-size: 3vw;
	color: crimson;
}
.page-content .projects-section1{
	display: flex;
	flex-wrap: wrap;
}
.page-content .projects-section1 .project1{
	margin-right: 20px;
	max-width: 200px
}
.page-content .projects-section1 .project1 h4{
	margin: 0;
	color: darkcyan;
}
.page-content .projects-section1 .project1 .description{
	font-size: 12px;
}
.page-content .projects-section1 .project1 .dates{
	font-size: 13px;
	color: rgb(145, 145, 145);
}


footer {
	margin-top: 5%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	padding: 10px;
	background-color: #000;
	color:crimson;
}
footer .colonne a{
	color: white;
}
footer .colonne p {
	font-size: 12px;
	color: #ccc;
	cursor: pointer;
}
footer .colonne p:hover {
	color: #fff;
}
footer .colonne a:hover{
	color: rgb(17, 0, 255);
}

@media screen and (max-width: 700px) {
	nav {
		justify-content: center;
	}
	nav ul {
		display: none;
	}

	.page-content header {
		margin-top: 10%;
		max-width: 100%;
	}
	.page-content .projects-section {
		margin-top: 15%;
	}
	.page-content .projects-section h1 {
		font-size: 1.5em;
	}
	.page-content .projects-section .project {
		margin-right: 0;
		margin-bottom: 20px;
		max-width: 100%;
	}
	.page-content .projects-section1 .project .description {
		font-size: 13px;
	}
	.page-content .projects-section1 {
		margin-top: 15%;
	}
	.page-content .projects-section1 h1 {
		font-size: 1.5em;
	}
	.page-content .projects-section1 .project1 {
		margin-right: 0;
		margin-bottom: 20px;
		max-width: 100%;
	}
	.page-content .projects-section1 .project1 .description {
		font-size: 13px;
	}

	footer {
		justify-content: space-around;
	}
	footer .column {
		width: 80%;
	}
}